/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* end reset */

/* untility */
body {
    font-family: fredoka, sans-serif;
}

.center-text {
    text-align: center;
}

.flex-container {
    display: flex;
}

.white-text {
    color: white;
}
/* end utility */

/* layout */
.container {
    width: 70%;
    margin: 0 auto;
}

/* info */
.subtitle {
    color: rgb(227, 37, 113);
    font-size: 75px;
    padding: 60px 0 80px;
}

.info {
    font-size: 35px;
    padding-bottom: 80px;
} 
/* end info */

/* cards */
.row.flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: calc(100% / 3 - 50px);
    margin-bottom: 80px;
    background-color: rgb(2, 0, 27);
}

.avatar {
    height: 180px;
}

.profile {
    padding: 20px 30px;
}

.name {
    font-size: 35px;
}

.personal-info {
    font-size: 28px;
    padding-top: 10px;
}

.personal-info.e-mail {
    color: rgb(145, 200, 255);
}
/* end cards */

/* end layout */